<h2>Why the Shack?</h2>
<p>At the Shack it's all about free life, rediscovering the joy of hacking away
without a care in the world. Remember the kicks we had with silly contraptions
as kids? Tinker Shack celebrates freedom and craftsmanship! What have you been
up to lately?</p>

<h2>
  <a href="https://github.com/tinkershack/fluffy">
    <span class="fa fa-code fa-sm proj-list-item-icon"></span>
    Fluffy
  </a>
</h2>

<p><em>Fluffy</em> watches and faithfully reports Linux on-disk filesystem
events.  While Fluffy is a convenient front-end framework, <em><a
href="http://fluffy.tinkershack.in">libfluffy</a></em> performs all the magic under
the hood. It uses the <em>inotify</em> kernel subsystem.</p>

<hr />

<ul class="fa-ul contact-list">
  <li class="contact-list-item">
    <a href="https://github.com/tinkershack">
      <span class="fa fa-github fa-lg contact-list-item-icon"></span>
      Tinker Shack
    </a>
  </li>
  <li class="contact-list-item">
    <a href="mailto:hello@tinkershack.in">
    <span class="fa fa-envelope fa-lg contact-list-item-icon"></span>
      Say hello!
    </a>
  </li>
</ul>
