<h2>Why the Shack?</h2>
<p>The Shack is all about free life, rediscovering the joy of hacking away
without a care in the world. Remember the kicks we had with silly contraptions
as kids? Tinker Shack celebrates freedom and craftsmanship! What have you been
up to lately?</p>

<h2>
  <a href="https://github.com/tinkershack/fluffy">
    <span class="fa fa-code fa-sm proj-list-item-icon"></span>
    Fluffy
  </a>
</h2>

<p><em>Fluffy</em> watches and faithfully reports Linux on-disk filesystem
events. While Fluffy is a convenient CLI tool, <em><a
href="https://github.com/tinkershack/fluffy/blob/master/libfluffy/fluffy.h">libfluffy</a></em> performs all the magic
under the hood with the help of <em>inotify</em> kernel subsystem.</p>

{% include footer.html %}
